.toggle-switch {
  width: 60px;
  height: 30px;
  background-color: #ccc;
  border-radius: 999px;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5px;
}

.toggle-switch.checked {
  background-color: #4caf50;
}

.toggle-icons {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.moon-icon, .sun-icon {
  font-size: 16px;
  pointer-events: none;
}

.toggle-circle {
  width: 26px;
  height: 26px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  transition: left 0.3s;
}

.toggle-switch.checked .toggle-circle {
  left: calc(100% - 28px);
}
